= simple_form_for(@message) do |f|
  = f.association :recipient, collection: User.all, label_method: :get_usernames, value_method: :id, label: 'Send To'
  = f.input :subject, label: false, placeholder: 'Enter subject ...'
  = f.input :body, label: false, required: true, placeholder: 'Enter your message ...', input_html: { rows: 10,style: 'width:100%'}
  = f.hidden_field :sender_id, value: current_user.id
  = f.button :submit,'Send Message'
