%h3= "Subject: #{@read_message.subject}"
%img{class: 'member_pic'}= image_tag @sender.photo.thumb.url
%p= "From: #{@read_message.sender.username}"
%p= "Sent at: #{@read_message.sender.created_at}"
%p= "Message: #{@read_message.body}"

