<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, autofocus: true %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :bio, size: "30x10" %>
  <%= f.input :photo %>
  <%= f.input :location %>
  <%= f.input :gender, collection: [:male, :female] %>
  <%= f.input :preferred_gender, collection: ["Male","Female","Both"], label: "Looking For" %>

  <%= f.button :submit, label:  "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
