<div id="results" class="large-8 columns">
  <% if current_user %>
  There are <%= @members.size %> member matches.
  <dl class="accordion" data-accordion>
    <% count = 0 %>
    <% @members.each do |member| %>
    <% count += 1 %>
      <dt>
        <dd id="member_<%= dom_id(member) %>">
          <a id="<%= dom_id(member) %>" href="#panel<%= count %>">
              <% if member.photo %>
                <%= image_tag member.photo.thumb.url, class: 'member_pic' %>
              <% end %>
              <div class="member_header">
                <span class="members">
                  <%= member.username %>
                </span>
                Location: <%= member.location %><br/>
                Gender: <%= member.gender %><br/>
              </div>
          </a>
          <%= button_to 'Add to Favorites', user_favorites_path(current_user, params: {favorited_id: member.id}), remote: true, class: "add" %>

          <div id="panel<%= count %>" class="content inactive">
            <div class="content_container">
              Email: <%=member.email %><br/>
              Summary: <%= member.bio %><br/>
              Activities:
              <ul class="activities">
                <% member.activities.each do |activity| %>
                  <li><%= activity.name %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </dd>
      </dt>
    <% end %>
  </dl>
  <% end %>
</div>
