<div id="results">
  <div id="accordion">
    <% @members.each do |member| %>
    <div class="member">
      <div class="member_pic">
        <img src="<%= member.photo %>"/>
      </div>
      <div class="member_info">
        <span class="members"><%= member.username %></span></br>
        Email: <%=member.email %><br/>
        Gender: <%= member.gender %><br/>
        Location: <%= member.location %><br/>
        Summary: <%= member.bio %><br/>
        Activities:
        <ul class="activities">
          <% member.activities.each do |activity| %>
            &bullet; <li><%= activity.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
