<h1>Browse Members</h1>

<div id="search-container">
<%= search_form_for @search do |f| %>
  <%= f.label :username_cont %>
  <%= f.text_field :username_cont %>
  Gender<br/>
  <%= check_box_tag( "q[gender_start]",'male' )%> Male
  <%= check_box_tag( "q[gender_start]",'female' )%> Female
  <%= f.label :location_cont %>
  <%= f.text_field :location_cont %>

  <% @activities.each do |activity| %>
    <%= f.label activity.name %>
    <%= check_box_tag('search[user_activities_activity_id_eq_any][]', activity.id) %><br/>
  <% end %>
  <%= f.submit %>
<% end %>
</div>
<div id="results">
  <div id="accordion">
    <% @users.each do |user| %>
    <div>
    <span class="members"><%= user.username %></span></br>
    Email: <%=user.email %><br/>
    Gender: <%= user.gender %><br/>
    Location: <%= user.location %><br/>
    Summary: <%= user.bio %><br/>
    Activities:
    <ul class="activities">
      <% user.activities.each do |activity| %>
        &bullet; <li><%= activity.name %></li>
      <% end %>
    </ul>
    </div>
    <% end %>
  </div>
</div>


