<h1>Browse Members</h1>

<div id="search-container">
<%= search_form_for @q do |f| %>
  <%= f.label :gender_cont %>
  <%= f.text_field :gender_cont %>
  <%= f.label :username_cont %>
  <%= f.text_field :username_cont %>
  <%= f.submit %>
<% end %>
</div>

<div id="results">
  <div id="accordion">
    <% @members.each do |member| %>
    <div>
    <span class="members"><%= member.username %></span></br>
    Email: <%=member.email %><br/>
    Gender: <%= member.gender %><br/>
    Location: <%= member.location %><br/>
    Summary: <%= member.bio %><br/>
    Activities:
    <ul class="activities">
      <% member.activities.each do |activity| %>
        &bullet; <li><%= activity.name %></li>
      <% end %>
    </ul>
    </div>
    <% end %>
  </div>
</div>
