<h1>Browse Members</h1>

<% @users.each do |user| %>
<h5><%= user.username %><br/></h5>
Email: <%=user.email %><br/>
Gender: <%= user.gender %><br/>
Location: <%= user.location %><br/>
Summary: <%= user.bio %><br/>
Activities: <%= user.activities.name %><br/><br/>
<% end %>

