<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <div class="row">
          <div class="medium-12 columns">
            <ul class="title-area">
              <li class="name">
                <h1><a href="<%= root_path %>">WeFit</a></h1>
              </li>
             </ul>
            <!-- Right Nav Section -->
            <ul class="right">
              <% if user_signed_in? %>
                <li><%=link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%=link_to 'Sign In', user_session_path %></li>
                <li><%=link_to 'Sign Up', new_user_registration_path %></li>
              <% end %>
            </ul>
            <ul class="left">
              <% if user_signed_in? %>
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Browse Members', browse_user_path(current_user) %></li>
              <% end %>
            </ul>

          </div>
        </div>
      </section>
    </nav>
    <div class="row">
      <div class="medium-2 columns">&nbsp;</div>
        <div class="medium-8 columns">
          <p class="notice"><%= notice %></p>
          <p class="notice"><%= alert %></p>
          <%= yield %>
        </div>
      <div class="medium-2 columns">&nbsp;</div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
